<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="60">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet"  href="css/style.css" />
    <title><%=title%></title>
  
</head>
<body>
    <header class="header">
    <nav class="nav">
    <div class="container__1">
       <h1 class="logo">HOLDINFO<span class="navlink-1">.com</span></h1>
        <p class="logo-sub">Powered By <span class="logot">Finstreet</span></p>

    </div>
    <div class="container__2">
        <li class="nav__item">
            <button class="nav__link nav__link--currency">INR</button>
        </li>
        <li class="nav__item">
            <button class="nav__link nav__link--currency">BTC</button>
        </li>
        
    </div>
   
    <div class="container__3">
    <li class="nav__item">
        <span class="nav__link nav__link--timer">60</span>
    </li>
    <li class="nav__item">
       <a class="nav__link nav__link--btn" href="#"><img class="img" src="img/tele.png" width="20" height="20"><span class="link__btn"> Connect Telegram</span></a>
    </li>
    <li class="nav__item">
        <input type="checkbox"  id="toggle__btn">
        <label for="toggle__btn"></label>
    </li>
    </div>
    </nav>
    </header>

    <section >
       <table border="0" cellspacing="0" cellpadding="0" >
        
            <tr>
                <th>#</th>
                <th>name</th>
                <th>Last</th>
                <th>Buy/Sell Price</th>
                <th>volume</th>
                <th>base_unit</th>
            </tr>
            <% z=0 %>
        <% for(i of data){ %>
            <% z++ %>
            <tr class="rows">
            <td><%=z%></td>
            <td><%=i.name%></td>
            <td>&#8377;<%=i.last%></td>
            <td>&#8377;<%=i.buy%> / &#8377;<%=i.sell%></td>
            <td><%=i.volume%></td>
            <td><%=i.base_unit%></td>

            </tr>
        <% } %>


       </table>
        
        
    </section>
    <script src="js/home.js"></script>
</body>
</html>
